<h1>About Me</h1>
<p>Hey everyone! My name is Porter Smith and I am a software developer... Kind of. I'm still learning how to program. I will soon be attending the University of Utah for computer science. I am currently learning how to code in Ruby, CSS, JavaScript, and HTML 5. I also know how to code in java. I like to play sports and spend time with my friends and family.</p>
