 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="inner cover">
            <h1 class="cover-heading">Welcome to my website.</h1>
            <p class="lead">I sell Jordan Hudgens t-shirts in my store!  <a href="https://shop.spreadshirt.com/carterwilde">Click here</a> to buy some awesome merch! </p>
            <p class="lead">
              <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
            </div>
          </div>

